# Add the full path to your Battle.net Launcher.exe or Diablo II Resurrected Launcher.exe here.
# Example: /home/deck/Games/battle-net/drive_c/Program Files (x86)/Battle.net/Battle.net Launcher.exe
# If the path contains spaces, do NOT use quotes. Just the raw path.
/home/deck/.local/share/Steam/steamapps/common/Diablo II Resurrected/D2R.exe